body {

    margin: 0;
    padding: 0;

}

/**************fonte*************/

nav {
    font-family: "Flama Light";
    text-transform: uppercase;

}


.title {
    width: 100%;
    height: auto;
    margin-top: 30px;
}


nav {
    text-align: center;
    background-color: #e1d7e2;
    font-size: 15px;
}


nav ul {
    display: inline-block;
}



nav ul {
    display: inline-block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 700;
    font-size: 1em;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 300px;
    font-size: 20px;
}

nav li a:hover {
    background-color: #222933;
    color: #e1d7e2;
}


/*--------- NAVIGATION MENU -------*/

/*--------- DROPDOWN MENU ----------*/

.dropbtn {
    background-color: #bca7b3;
    color: #222933;
    padding: 15px;
    width: 113px;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    text-align: left;
    font-family: "Flama Light";


}


/*------ DROPDOWN CONTAINER -------*/

.dropdown {
    position: fixed;
    display: inline-block;
    width: 100%;
    top: 0;
    background-color: #bca7b3;
    z-index: 1;
}

.dropdown ul {
    background-color: #bca7b3;
    list-style-type: none;
    text-align: left;
}


/*-------- DROPDOWN INDHOLD -------*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bca7b3;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: #222933;
    padding: 10px;
    width: 200px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #d3bdbd;
    color: whitesmoke;
}

.dropdown:hover .dropdown-content {
    display: block;
}



h1 {
    margin-top: 100px;
    text-align: center;
    color: #222933;
    background-color: #e1d7e2;
    font-size: 3.3em;
    padding: 1.3em;
    margin-bottom: 0;
    margin: 0px;
}


h2,
h3 {
    font-family: "Flama Condensed Bold";
    margin: 0 0 30px 0;
    padding: 0;
    text-transform: uppercase;
}



h2 {
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}

h3 {
    font-size: 30px;
    letter-spacing: 1px;
}

h4 {
    font-size: 1.4em;
    letter-spacing: 1px;

}

a {
    text-decoration: none;
    color: black;
}

nav a {
    display: inline-block;
    margin: 0 0 25px 0;
    padding: 0 10px;
}

p {
    text-align: center;
}

/*** MENU ***/

/**** SECTION GRUPPEN ****/

#personer {
    position: relative;
    width: 100vw;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1600px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#person_container {
    flex-basis: 250px;
    justify-content: center;
}

#person_indhold {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person {
    align-self: center;
    width: 10vw;
    height: 10vw;
    background-color: #f19638;
    border-radius: 50%;
    flex-grow: 1;
    overflow: hidden;

}

.persontekst {
    text-align: center;
    flex-grow: 1;
}


#personer img {
    width: 100%;
}


#personer h3 {
    color: #222933;
    font-size: 20px;
}

/**************Experience map*************/

#experience_map {
    background-color: #222933;
    padding: 15px;
    color: #e1d7e2;

}

#map h3 {
    text-align: center;
    color: #e1d7e2;
}

#tests {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    text-align: center;
}


.test1 {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 30px;
    padding: 15px;


}

.test1 img {
    width: 70%;
    height: 100%;
}

.test2 {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 30px;
    padding: 15px;
}

.test2 img {
    width: 70%;
    height: 100%;
}

/**************persona*************/

#persona {
    padding: 10px;
    background-color: #e1d7e2;
    padding: 15px;
    color: #222933;


}

#persona p {
    text-align: left;
}


/**************Charette*************/

#design_charette {
    background-color: #222933;

    padding: 15px;
    color: #e1d7e2;

}

#design_charette h4 {
    color: #e1d7e2;
}

#design_charette h2 {
    color: #e1d7e2;

}

.fredagsbar1 {
    width: 100%;
    height: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.fredagsbar1 img {
    width: 100%;
    height: 100%;
}

.kantine {
    width: 100%;
    height: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.kantine img {
    width: 100%;
    height: 100%;
}


.info {
    width: 100%;
    height: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.info img {
    width: 100%;
    height: 100%;
}


.billede1 {
    flex-grow: 1;
    flex-basis: 400px;
    margin: 30px;
    padding: 15px;
}

.billede2 {
    flex-grow: 1;
    flex-basis: 400px;
    margin: 30px;
    padding: 15px;

}

.billede3 {
    flex-grow: 1;
    flex-basis: 400px;
    margin: 30px;
    padding: 15px;
}


.billede4 {

    flex-grow: 1;
    flex-basis: 400px;
    margin: 30px;
    padding: 15px;
}


/**************storyboard*************/

#storyboard {

    background-color: #e1d7e2;
    padding: 15px;
    color: #222933;
}


#storyboard h4 {
    text-align: center;
    color: #222933;
}

#storyboard img {
    width: 100%;
    height: 100%;

}

.fredagsbarapp {
    width: 100%;
    height: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

}

.kantineapp {
    width: 100%;
    height: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}

.infoapp {
    width: 100%;
    height: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}

.app1 {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 10px;
    margin: 30px;


}

.app2 {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 10px;
    margin: 30px;


}


/**************AKTIVITETER OG FEATURES *************/

#aktivfeatures {
    background-color: #222933;
    padding: 15px;

}

#aktivfeatures h3,
h4 {
    text-align: left;
    padding: 15px;
    color: #e1d7e2;

}


.fredagsbar_af {
    background-color: #e1d7e2;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    color: #222933;



}


.kantine_af {
    background-color: #e1d7e2;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    color: #222933;


}


.info_af {
    background-color: #e1d7e2;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    color: #222933;

}


.aktivitet {
    padding: 15px;
}


.aktivitet h4 {
    color: #222933;
}


.features h4 {
    color: #222933;
}

.features {
    padding: 15px;
}

/******************* ideer***********/

#video {

    background-color: #e1d7e2;
    width: 100%;
    height: 100%;
    text-align: center;

}

#video img {
    width: 40%;
    height: 60%;
}


#ideer {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 40px;


}


#ideer h4 {
    color: #e1d7e2;
    ;
}

.ide1 {
    flex-grow: 1;
    flex-basis: 200px;
    background-color: #222933;
    padding: 15px;
    margin: 30px;
}

.ide2 {
    flex-grow: 1;
    flex-basis: 200px;
    background-color: #222933;
    padding: 15px;
    margin: 30px
}

.ide3 {
    flex-grow: 1;
    flex-basis: 200px;
    background-color: #222933;
    padding: 15px;
    margin: 30px;



}

.endelig {
    flex-grow: 1;
    flex-basis: 200px;
    background-color: #222933;
    padding: 15px;
    margin: 30px;


}

#video h4 {
    padding: 0px;
    margin: 5px;
}

#video img {
    width: 50%;
    height: 70%;
}

/************DATA*************/

#data {
    background-color: #222933;
    padding: 15px;
    color: #e1d7e2;
}

/********** resultater******/

#resultater {
    background-color: #e1d7e2;
    color: #222933;
    padding: 15px;

}


#resultater p,
h2,
h4 {
    text-align: left;
    color: #222933;
    padding: 10px;


}



/***********FORRETNIGSMODEL******************/

#forretningsmodel {
    background-color: #222933;
    padding: 15px;
    color: #e1d7e2;

}

#forretningsmodel p {
    text-align: left;

}


/*********UIKIT************/

#uikit {
    background-color: #e1d7e2;
    padding: 15px;
    color: #222933;
}



/*********GRAFISK DESIGN************/

#design {
    background-color: #222933;
    padding: 15px;
    color: #e1d7e2;

}

#design p {
    text-align: left;
}

/*********STYLETILE************/

#style {
    background: #e1d7e2;
    padding: 15px;
    color: #222933;

}


#style img {
    width: 100%;
    height: 100%;
}


/*********** SCRUM *******************/

#scrumvideo {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}


#scrum {
    padding: 15px;
    background-color: #222933;
    color: #e1d7e2;
}

#scrum h4 {
    color: #e1d7e2;
}

.nr1 {
    padding: 10px;
}

.nr2 {
    padding: 10px;
}


.nr3 {
    padding: 10px;
}


.nr4 {
    padding: 10px;
}



/************APP*************/

#produkt {
    background-color: #222933;
}



#produkt img {
    width: 20%;
    height: 20%;
}

.app {
    text-align: center;
    padding: 20px;
}


#linkapp {
    text-align: center;
}


#introduktion {

    padding: 30px;
}

#introduktion h3 {
    text-align: center;
}

#introduktion p {
    text-align: justify;
}


#pitch h3 {
    text-align: center;
    color: #e1d7e2
}

#pitch h3:hover {
    background-color: #887789;
}


#pitch {
    text-align: center;
}

h3,
p {
    color: #e1d7e2
