body {

    margin: 0;
}


#Experience_Map {}


#design_charette .fredagsbar img {
    height: 20vw;
    width: 20vw;
}


#design_charette .kantine img {
    height: 20vw;
    width: 20vw;
}

#design_charette .info img {
    height: 20vw;
    width: 20vw;
}
